services:
  app-cli-dev:
    build:
      context: ../..
      dockerfile: infra/cli-dev/Dockerfile
      args:
        PHP_VERSION: ${PHP_VERSION}
    image: ${PROJECT_NAME}-cli-dev
    container_name: ${PROJECT_NAME}-cli-dev
    user: "${USER_ID:-1000}:${GROUP_ID:-1000}"
    env_file:
      - ../.env
      - .env
    volumes:
      - ../..:/var/www/html
    working_dir: /var/www/html
    command: ["tail", "-f", "/dev/null"]
    healthcheck:
      test: ["CMD", "php", "-v"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
