{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.26.1/resources/schema.json",
    "source": {
        "directories": [
            "./src"
        ],
        "excludes": [
            "/Test\\.php/"
        ]
    },
    "logs": {
        "text": "../tmp/mutation-testing/infection.txt",
        "html": "../tmp/mutation-testing/infection.html"
    },
    "mutators": {
        "@default": true
    }
}